Unattended-Upgrade::Origins-Pattern {
{% if unattended_upgrades_scope == "all" %}
    "o=*";
{% else %}
    "origin=Debian,codename=${distro_codename},label=Debian-Security";
{% endif %}
};

Unattended-Upgrade::Package-Blacklist {
{% for package in unattended_upgrades_blocklist %}
	"{{ package }}";
{% endfor %}
};

Unattended-Upgrade::Automatic-Reboot "{{ unattended_automatic_reboot }}";

Unattended-Upgrade::Remove-Unused-Dependencies "true";
Unattended-Upgrade::Mail "{{ unattended_upgrades_email }}";

